<section class="CriarNota">
  <div class="cimaDiv">
    <div class="itensCima">
      <img class="img_Tzao" src="../../../assets/imgs/Editar_fonte.png" alt="editar fonte">
      <button class="button" routerLink=""><img src="../../../assets/imgs/Fechar_icon.png" alt="fechar painel"></button>
    </div>
    <h1 id="titulo_criar">Inserir titulo</h1>
    <p id="texto_criar">Digite aqui seu texto...</p>
  </div>
  <div class="baixoDiv">
    <app-editar></app-editar>
    <img id="concluir_icon" src="../../../assets/imgs/concluir_icon.png" alt="concluir">
  </div>
</section>
