<section class={{nota.cabecalho}}>

  <div class="div-esquerda">
    <a routerLink=""><div class="imgs_cabecalho">
      <div class="imgs_insert">
        <img class="img_menu" src="../../../assets/imgs/icon-barrinhas.png" alt="icon-menu">
        <img  class="img_logo" src="../../../assets/imgs/Bloco_de_notas.png" alt="icon-bloco de notas">
      </div>
      <h1 class="Titulo_logo">ValaNotes</h1>
    </div></a>
    <div class="barra_de_pesquisa">
      <div class="itens_pesquisa">
        <img class="lupa_img" src="../../../assets/imgs/icon-pesquisar.png" alt="lupa-pesquisar">
        <h2 class="pesquisar_text">Pesquisar...</h2>
      </div>
    </div>
  </div>
  <div class="div-direita">
    <div class="icones_navegar">
      <img src="../../../assets/imgs/icon-perfil.png" alt="icone_perfil">
      <img src="../../../assets/imgs/icon-lampada.png" alt="icone_lampada">
      <img src="../../../assets/imgs/icon-notificacao.png" alt="icone_notificacao">
    </div>
  </div>
</section>
